* {margin: 0; padding: 0; box-sizing: border-box;}

canvas, video {
  display: block;
  position: absolute;
  
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
  
}

canvas {
  z-index: 1;
  object-position: 50% 50%;
  transform: scale(0.75);
}

.input_video { 
  z-index: 0; 

  transform: scale(-0.75, 0.75);
  object-position: 50% 50%;
  filter: blur(3px) hue-rotate(0deg) contrast(100%);
}
.ccGAN01{
  z-index: -1;
  object-position: left top;
  transform: scale(0.5, 1) translate(-50%);
}
.ccGAN02{
  z-index: -1;
  object-position: right top;
  transform: scale(0.5, 1) translate(50%);
}
.obs{
  z-index: -2;
  object-position: center center;
  transform: scale(1.5);
}